In [1]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

import inspect
inspect.isclass(Base)

True

In [2]:
from sqlalchemy import Column, Integer, String

class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column(String)
    
    def __repr__(self):
       return "<User(name='%s', fullname='%s', password='%s')>" % (self.name, self.fullname, self.password)

In [3]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('password', String(), table=<users>), schema=None)

In [4]:
type(User.__table__)

sqlalchemy.sql.schema.Table

和用Table建立的数据结构是一致的。

In [5]:
from IPython.display import display

In [6]:
from helper import reset_tables,clear_tables,clear_schema,get_select,get_table,print_sql

In [7]:
from sqlalchemy import create_engine

user = 'test'
password = 'test'
port = '5432'
dbname = 'test'

engine = create_engine('postgresql://{user}:{password}@localhost:{port}/{dbname}'.format(**locals()))

clear_tables(engine)

In [8]:
Base.metadata.create_all(engine)

In [9]:
ed_user = User(name='ed', fullname='Ed Jones', password='edspassword')

print(ed_user.name,ed_user.password,str(ed_user.id))

ed edspassword None

In [10]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)

In [11]:
Session = sessionmaker()
Session.configure(bind=engine)

In [12]:
session = Session()

In [13]:
users,addresses = reset_tables(engine)

ed_user = User(name='ed', fullname='Ed Jones', password='edspassword')
session.add(ed_user)

display(get_table(engine,users))

   id   name        fullname password
0   1   jack      Jack Jones     None
1   2  wendy  Wendy Williams     None

In [14]:
our_user = session.query(User).filter_by(name='ed').first() # doctest:+NORMALIZE_WHITESPACE
our_user

In [15]:
our_user is ed_user

True

In [16]:
display(get_table(engine,users))

   id   name        fullname password
0   1   jack      Jack Jones     None
1   2  wendy  Wendy Williams     None

In [17]:
session.add_all([
    User(name='wendy', fullname='Wendy Williams', password='foobar'),
    User(name='mary', fullname='Mary Contrary', password='xxg527'),
    User(name='fred', fullname='Fred Flinstone', password='blah')]
)

In [19]:
ed_user.password = 'f8s7ccs'

In [20]:
session.dirty

IdentitySet([<User(name='ed', fullname='Ed Jones', password='f8s7ccs')>])

In [21]:
session.new

IdentitySet([<User(name='fred', fullname='Fred Flinstone', password='blah')>, <User(name='mary', fullname='Mary Contrary', password='xxg527')>, <User(name='wendy', fullname='Wendy Williams', password='foobar')>])

commit后才能生效

In [24]:
session.commit()

In [25]:
display(get_table(engine,users))

   id   name        fullname password
0   1   jack      Jack Jones     None
1   2  wendy  Wendy Williams     None
2   3     ed        Ed Jones  f8s7ccs
3   4  wendy  Wendy Williams   foobar
4   5   mary   Mary Contrary   xxg527
5   6   fred  Fred Flinstone     blah