## 在pandas.DataFrame中生成日期list，并按年周数分组
这个操作的限制条件是，日期list里的日期必须是同一年的，否则不同年的周数会被分在同组，需要按照 年份+周数 来分组。

In [7]:
from datetime import datetime,date
import datetime as dt

import pandas as pd

today = datetime.now()
today

datetime.datetime(2016, 12, 21, 21, 12, 20, 762127)

In [8]:
today.date()

datetime.date(2016, 12, 21)

In [9]:
dt.timedelta(16)

datetime.timedelta(16)

In [10]:
dt.timedelta(16).days

16

In [14]:
pd.date_range('20161201','20161210')

DatetimeIndex(['2016-12-01', '2016-12-02', '2016-12-03', '2016-12-04',
               '2016-12-05', '2016-12-06', '2016-12-07', '2016-12-08',
               '2016-12-09', '2016-12-10'],
              dtype='datetime64[ns]', freq='D')

In [25]:
df = pd.DataFrame()
df['date'] = pd.date_range(start=today.date() - dt.timedelta(26),end=today.date() - dt.timedelta(1))#.tolist()
df['weekday'] = df['date'].apply(lambda x:x.isocalendar()[2])
df['week'] = df['date'].apply(lambda x:x.isocalendar()[1])
df['week2'] = df['date'].apply(lambda x:(x-dt.timedelta(4)).isocalendar()[1])
df['date'] = df['date'].apply(lambda x:datetime.strftime(x, '%Y%m%d'))
# df['date'] = df['date'].astype(str)

In [26]:
df

        date  weekday  week  week2
0   20161125        5    47     47
1   20161126        6    47     47
2   20161127        7    47     47
3   20161128        1    48     47
4   20161129        2    48     47
5   20161130        3    48     47
6   20161201        4    48     47
7   20161202        5    48     48
8   20161203        6    48     48
9   20161204        7    48     48
10  20161205        1    49     48
11  20161206        2    49     48
12  20161207        3    49     48
13  20161208        4    49     48
14  20161209        5    49     49
15  20161210        6    49     49
16  20161211        7    49     49
17  20161212        1    50     49
18  20161213        2    50     49
19  20161214        3    50     49
20  20161215        4    50     49
21  20161216        5    50     50
22  20161217        6    50     50
23  20161218        7    50     50
24  20161219        1    51     50
25  20161220        2    51     50

In [6]:
df.groupby('week').agg(len)

      date
week
49       7
50       7
51       2

In [ ]:
x = date(2016,12,23)

In [16]:
x.isocalendar()

(2016, 51, 5)